      
body {
      background-color: #ff0e0e;}

/*body {
      font-family: arial;
       background-color: rgb(185, 179, 175);}*/

h1 {
    color: red;}

h1 {
      color: blue !important;}

h1 {
    color: yellow;}

p strong {
      font-size: 75%;}

p#intro {
      font-size: 300%;)


     
